<%- include("../layout/header.ejs") %>
  </head>
  <body>
    <%- include("../layout/nav.ejs") %>
    <main>
        <%if(carts.length > 0){%>
          <ul>
            <% carts.forEach(cart => { %>
              <li>
                <%= cart.productData.title  %>
                <%= cart.qty %>
              </li>
              <form action="/delete-cart" method="POST">  
                <input type="hidden" name="productId" value="<%= cart.productData.id %>">
                <button class="button" type="submit">Delete</button>
              </form>
            <%})%>
          </ul>
        <%} else{%>
          <h1>No products</h1>
        <% } %>
    </main>
<%- include("../layout/end.ejs") %> 
